html, body {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}
.main-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter' sans-serif;
    height: 90%;
    width: 100%;
    align-self: center;
    position: relative;
    

    
}
.main-logo {
    width: 500px;
    height: 350px;
    background-image: url(images/main-logo.svg);
    background-size: cover;
    background-position: center;
    margin: 0;

    
}
.main-logo:hover {
    background-image: url(images/main-logo-clear.svg);
}
.redirect {
    font-family: Inter sans-serif;
    font-size: 20px;
    margin: 0.2%;
}
.redirect:hover {
    text-decoration: underline;
    font-family: Inter sans-serif;
}
.lilguy {
    
    height: 40%;
    width: 100%;
    align-self: center;
    align-items: baseline;
    outline: auto;
    
    
}
.marquee-text {
    overflow: clip;
  }
  
  .marquee-text-track {
    border: 1px solid black;
    display: flex;
    width: max-content;
    animation: marquee-move-text 10s linear infinite;
    align-items: center;
    padding-left: 1%;
    gap: 1%;
    white-space: nowrap;
    
      
  }
  .marquee-text-track:hover {
    animation-play-state: paused
  }

  
  .marquee-text p {
    padding: 1rem 2.5rem;
    justify-content: center;
  }
  .about-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter' sans-serif;
    height: 90%;
    width: 100%;
    align-self: center;
    position: relative;
  }

  .headshot-backdrop {
    width: 23.75%;
    height: 50%;
    background-image: url(images/headshot-backdrop.svg);
    background-size: contain;
    background-position: center;
    margin: 0;
  }

  
  @keyframes marquee-move-text {
    to {
      transform: translateX(-50%);
    }
  }

